<form>


  <div class="form-group">
		<label>Title</label>
		{{input type="text" class="form-control" value=title placeholder="What is the title?"}}
	</div>

  <div class="form-group">
		<label>Description</label>
		{{textarea class="form-control" value=description placeholder="Write something" rows="8"}}
	</div>
	
	{{#link-to 'blogs'}}<button {{action 'addBlog'}} class="btn btn-primary">Save</button>{{/link-to}}
  {{#link-to 'blogs'}}	<button  class="btn btn-danger">Cancel</button>{{/link-to}}
</form>
